<% layout("/layouts/boilerplate") %>
<body>
    <div class="form-div">
        <form action="/editList/<%=result._id%>?_method=PATCH" method="post" id="edit-page-form" enctype="multipart/form-data">
            <div>
                <label for="listing[title]"class="form-labels"> Title:</label>
                <input name="listing[title]" id="listing[title]"class="all-form-inputs" type="text" value="<%=result.title%>">
                <i class="fa-solid fa-circle-exclamation " id="error7"></i><i class="fa-solid fa-check" id="tick7"></i>
            </div><br>

            <div>
                <label for="listing[description]"class="form-labels">Description:</label>
                <textarea name="listing[description]" id="listing[description]" class="all-form-inputs"><%=result.description%></textarea>
                <i class="fa-solid fa-circle-exclamation " id="error8"></i><i class="fa-solid fa-check" id="tick8"></i>
            </div><br>

            <div>
                <label for="listing[image]"class="form-labels">Image:</label>
                <input name="listing[image]" id="listing[image]" class="all-form-inputs listing_image" type="file">
                <i class="fa-solid fa-circle-exclamation " id="error9"></i><i class="fa-solid fa-check" id="tick9"></i>
            </div><br>
            <div id="previewDiv"><img height="100%" width="100%" id="preview" ></div>

            <div class="form-price-and-country">
                <div class="form-price">
                    <label for="listing[price]"class="form-labels">Price:</label>
                    <input name="listing[price]"  id="listing[price]"class="all-form-inputs" value="<%=result.price%>">
                    <i class="fa-solid fa-circle-exclamation " id="error10"></i><i class="fa-solid fa-check" id="tick10"></i>
                </div>
                <div class="form-country">
                    <label for="listing[country]"class="form-labels">Country: </label>
                    <input name="listing[country]" class="all-form-inputs" id="listing[country]" type="text" value="<%=result.country%>">
                    <i class="fa-solid fa-circle-exclamation " id="error11"></i><i class="fa-solid fa-check" id="tick11"></i>
                </div>
            </div><br>
            <div>
                <label for="listing[location]"class="form-labels">Location:</label>
                <input name="listing[location]" class="all-form-inputs" id="listing[location]" type="text" value="<%=result.location%>">
                <i class="fa-solid fa-circle-exclamation " id="error12"></i><i class="fa-solid fa-check" id="tick12"></i>
            </div><br>

            <button class="edit-btn">Edit</button>
         </form>
    </div>
    <script src="/js/formValidating2.js"></script>
</body>